<<<<<<< HEAD
body{
 background-color: darkturquoise;
 color:black;
 display:flex;
 justify-content:center; 
}
button{
    background-color: aliceblue;
}
=======
body{
 background-color: darkturquoise;
 color:black;
 display:flex;
 justify-content:center; 
   
}
>>>>>>> ab1c308ce85f828fda9eaab0976aea7996b2a49e